
@use '@angular/material' as mat;

$my-palette: mat.$indigo-palette;
$my-primary: mat.define-palette(mat.$indigo-palette, 500);

body, html { 
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0;
}
.header{
    max-width: 1440px;
    max-height: 600px;
    padding : 5px;
   margin : 5px

}
.subheader{
    width:100%;
    height:100%;
   padding : 5px;
   margin : 5px


}
.container{
 max-width: 1400px !important;
 width:100%;
 height:100%;
 margin-left: 0px!important;
 padding-left: 0px;
    padding : 5px;
   margin : 5px
}
.sub-container{

    height:100%;
   padding : 5px;
   margin : 5px

}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }